<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>父子组件通信</title>
  
</head>

<body style="background: #f6f6d5">
  <h2>父子组件通信&emsp;<sub><a style="text-decoration: none" href="../index.html">返回导航</a></sub></h2>
  <div id="todolist">
    <form @submit.prevent="addNewTodo">
      <label for="new-todo">add a todo</label>
      <input id="new-todo" type="text" v-model="newTodoText" />
      <button>add</button>
    </form>
    <ul>
      <li
        is="todo-item"
        v-for="(item, index) in todoList"
        :key="item.id"
        :title="item.title"
        @remove="removeTodo(index)">
      </li>
    </ul>
  </div>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script>
  Vue.component('todo-item', {
    props: ['title'],
    template: '<li>{{title}} <button @click="$emit(\'remove\')">remove</button>\</li>'
  })

  const todolist = new Vue({
    el: '#todolist',
    data: {
      newTodoText: '',
      todoList: [{id: 1, title: 'aaa'}, {id: 2, title: 'bbb'}, {id: 3, title: 'ccc'}]
    },
    methods: {
      addNewTodo: function() {
        this.todoList.push({id: this.todoList.length, title: this.newTodoText})
      },
      removeTodo: function(index) {
        this.todoList.splice(index, 1)
      }
    }
  })
</script>
</body>
</html>